<%- contentFor("title") %>
    Client Information

    <%- contentFor("body") %>
        <form method="POST">
            <H1>Update Client Information</H1>
            <div>
                <label class="mt-2 fw-bold">Client Company Name</label>
                <input type="text" class="form-control" name="company_name" value="<%= client.company_name %>" />
            </div>
            <div>
                <label class="mt-2 fw-bold">Client First Name</label>
                <input type="text" class="form-control" name="first_name" value="<%= client.first_name %>" />
            </div>
            <div>
                <label class="mt-2 fw-bold">Client Last Name</label>
                <input type="text" class="form-control" name="last_name" value="<%= client.last_name %>" />
            </div>
            <div>
                <label class="mt-2 fw-bold">Client Contact Email</label>
                <input type="text" class="form-control" name="contact_email" value="<%= client.contact_email %>" />
            </div>
            <div>
                <label class="mt-2 fw-bold">Client Joint Date</label>
                <input type="date" class="form-control" name="joint_date"
                    value="<%= client.joint_date ? client.joint_date.toISOString().split('T')[0] : '' %>" />
            </div>
            <div>
                <label class="mt-2 fw-bold">Industry Category</label>
                <select class="form-control" name="category_id">
                    <% for (let c of categories) { %>
                        <option value="<%=c.category_id%>" <%=(c.category_id===client.category_id) ? 'selected' : '' %>>
                            <%= c.name %>
                        </option>
                        <% } %>
                </select>
            </div>
            <div>
                <label class="mt-2 fw-bold">Employee</label>
                <select class="form-control" name="employee_id">
                    <% for (let e of employees) { %>
                        <option value="<%=e.employee_id%>" <%=(e.employee_id===client.employee_id) ? 'selected' : '' %>>
                            <%=e.first_name%>
                                <%=e.last_name%>
                        </option>
                        <% } %>
                </select>
            </div>
            <div>
                <button class="btn btn-primary mt-3">Submit</button>
                <button class="btn btn-success mt-3">Cancel</button>
            </div>
        </form>