<%- contentFor('title') %>
    Shipment Information

    <%- contentFor('body') %>
        <h1>Add Shipment Information</h1>
        <!-- <div>
                <label class="mt-2 fw-bold">Client Company Name</label>
                <input type="text" class="form-control" name="company_name" />
            </div>
            <div>
                <label class="mt-2 fw-bold">Client First Name</label>
                <input type="text" class="form-control" name="first_name" />
            </div>
            <div>
                <label class="mt-2 fw-bold">Client Last Name</label>
                <input type="text" class="form-control" name="last_name" />
            </div>
            <div>
                <label class="mt-2 fw-bold">Client Contact Email</label>
                <input type="text" class="form-control" name="contact_email" />
            </div>
            <div>
                <label class="mt-2 fw-bold">Client Joint Date</label>
                <input type="date" class="form-control" name="joint_date" />
            </div>
            <div>
                <label class="mt-2 fw-bold">Industry Category</label>
                <select class="form-control" name="category_id">
                    <% for (let c of categories) { %>
                        <option value="<%=c.category_id%>">
                            <%= c.name %>
                        </option>
                        <% } %>
                </select>
            </div>
            <div>
                <label class="mt-2 fw-bold">Employee</label>
                <select class="form-control" name="employee_id">
                    <% for (let e of employees) { %>
                        <option value="<%=e.employee_id%>">
                            <%=e.first_name%>
                                <%=e.last_name%>
                        </option>
                        <% } %>
                </select>
            </div> -->
        <!-- <div>
                <label class="mt-2 fw-bold">Shipping Routes: Origin Hub</label>
                <select class="form-control" name="shippingRoutes" multiple>
                    <% for (let sr of shippingRoutes) { %>
                        <option value="<%= sr.route_id%>">
                            <%= sr.origin_hub%>
                        </option>
                        <% } %>
                </select>
            </div>
            <div>
                <label class="mt-2 fw-bold">Shipping Routes: Destination Hub</label>
                <select class="form-control" name="shippingRoutes">
                    <% for (let sr of shippingRoutes) { %>
                        <option value="<%= sr.route_id%>">
                            <%= sr.destination_hub%>
                        </option>
                        <% } %>
                </select>
            </div> -->
        <div>
            <button class="btn btn-primary mt-3">Submit</button>
            <button class="btn btn-success mt-3">Cancel</button>
        </div>