<%- contentFor('title') %>
    Shipment Information

    <%- contentFor('body') %>
        <form method="POST">
            <h1>Add Shipment Information</h1>
            <div>
                <label class="mt-2 fw-bold">Select Client Company</label>
                <select class="form-control" name="client_id" required>
                    <% for (let c of clients) { %>
                        <option value="<%= c.client_id %>">
                            <%= c.company_name %>,
                                <%= c.first_name %>
                                    <%= c.last_name %>
                        </option>
                        <% } %>
                </select>
            </div>
            <div>
                <label class="mt-2 fw-bold">Shipping Route: Origin Hub</label>
                <input type="text" class="form-control" name="origin_hub" placeholder="Port of Singapore Authority"
                    required />
            </div>
            <div>
                <label class="mt-2 fw-bold">Shipping Route: Destination Hub</label>
                <input type="text" class="form-control" name="destination_hub" placeholder="Los Angeles Port Terminal"
                    required />
            </div>
            <div>
                <label class="mt-2 fw-bold">Shipping Date</label>
                <input type="date" class="form-control" name="shipping_date" required />
            </div>
            <div>
                <label class="mt-2 fw-bold">Shipment Day</label>
                <input type="number" class="form-control" name="shipment_day" min="1" placeholder="e.g 1" required />
            </div>
            <div>
                <button class="btn btn-primary mt-3">Submit</button>
                <button class="btn btn-success mt-3">Cancel</button>
            </div>
        </form>