<%- contentFor('title') %>
    Shipment Information

    <%- contentFor('body') %>
        <form method="POST" class="mt-3">
            <H1>Delete Client Information</H1>
            <div class="alert alert-danger">
                <h5>Are you sure you want to delete the shipment for <strong>
                        <%= client.company_name %>
                    </strong>?</h5>
                <p>
                    <strong>Route:</strong>
                    <%= client.origin_hub %> to <%= client.destination_hub %><br>
                    <strong>Shipment Date:</strong>
                    <%= client.shipping_date ? client.shipping_date.toISOString().split('T')[0] : 'N/A' %><br>
                    <strong>Contact Person:</strong>
                    <%= client.first_name %> <%= client.last_name %>
                </p>
                <div>
                    <a href="/shipments" class="btn btn-success">Cancel</a>
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </div>
            </div>
        </form>