<%- contentFor('title') %>
    Shipment Information

    <%- contentFor('body') %>
        <h1>Shipment Information</h1>
        <div>
            <a class="btn btn-success" href="/shipments/s_create">Add New Shipment</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Client First Name</th>
                    <th>Client Last Name</th>
                    <th>Contact Email</th>
                    <th>Origin Hub</th>
                    <th>Destination Hub</th>
                    <th>Shipping Date</th>
                    <th>Shipment Day</th>
                </tr>
            </thead>
            <tbody>
                <% for (let s of shipment) { %>
                    <tr>
                        <td>
                            <%= s['Company Name'] %>
                        </td>
                        <td>
                            <%= s['Client First Name'] %>
                        </td>
                        <td>
                            <%= s['Client Last Name'] %>
                        </td>
                        <td>
                            <%= s['Contact Email'] %>
                        </td>
                        <td>
                            <%= s['Origin Hub'] %>
                        </td>
                        <td>
                            <%= s['Destination Hub'] %>
                        </td>
                        <td>
                            <%= s['Shipping Date'] ? s['Shipping Date'].toISOString().split('T')[0] : 'N/A' %>
                        </td>
                        <td>
                            <%= s['Shipment Day'] %>
                        </td>
                        <td>
                            <div class="d-flex gap-2">
                                <a class="btn btn-primary btn-sm" href="/shipments/<%= s['Client ID'] %>/s_update">
                                    Update </a>

                                <a class="btn btn-danger btn-sm" href="/shipments/<%= s['Client ID'] %>/<%= s['Route ID'] %>/s_delete">
                                    Delete</a>
                            </div>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>